.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
  flex-grow: 2;
}

.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
}

.checkout__title {
  margin-right: 10px;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px;
}

.item-appear {
  opacity: 0;
}
.item-appear-done {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}