.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  width: 100%;
  min-width: 100px;
  background-color: white;
  box-sizing: border-box;
  border: 1px solid rgba(240, 193, 75, 0.2);
  border-radius: 8px;
  z-index: 1;
  transition: .2s all ease;
  overflow: hidden;
}

.product:hover {
  border: 1px solid rgba(240, 193, 75, 0.7);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
}

.product:hover > button {
  transform: translateY(-100%);
}

.product__rating {
  margin-top: 5px;
  color: #ffd000;
  display: flex;  
}

.product__ratingIcon {
  font-size: 1.4rem !important;
  margin: 0 -1px;
}

.product > img {
  height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button {
  background: #f0c14b;
  border: 1px solid;
  padding: 5px 15px;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  cursor: pointer;
  transition: .2s all ease;
  transform: translateY(300%);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
}

.product > button:hover {
  background: #f0ac02;
}

.product__price {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 23px;
  color: #232f3e;
}
.product__price > small {
  margin-right: 3px;
}

.product__info {
  margin-bottom: 15px;
}

.product__title {
  height: 64px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
}


@media (max-width: 768px) {
  .product:hover {
    box-shadow: none;
  }
  .product:hover > button {
    transform: none;
  }
  .product > button {
    transform: none;
  }
}